:root {
  --textshadow-1: 3px 3px 1px rgb(37, 15, 131);
}

.inner-banner{
  background-image: url(../../ccet-photos/team_banner.jpg)
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.1s;
  animation-fill-mode: backwards;
}

@keyframes animate-fade {
  0% { scale: 0.9; }
  100% { scale: 1; }
}

.switcher_ec {
  display: table;
  margin: 0 auto;
  padding-top: 5%;
}

.switcher_ec * {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  display: inline-block;
}

.curr_black{
  color: #000000;
}

.events_cards {
  padding: 0;
  margin-top: 80px;
  margin-left: 10px;
  list-style-type: none;
  --curve: 40;
  width: 100%;
  transition: all 0.9s ease;
}

.row-ls {
  margin: auto;
  height: 500px;
}

.events_card {
  position: relative;
  display: block;
  height: 400px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  /* margin: auto; */
  margin-bottom: 50px;
}

.events_card__image {
  width: 100%;
  height: auto;
}

.events_card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  /* background-color: var(--surface-color); */
  /* background: #5f3bff; */
  transform: translateY(100%);
  transition: 0.4s ease-in-out;
}

.events_card:hover .events_card__overlay {
  transform: translateY(0);
  /* background: #5f3bff; */
}

.events_card__header {
  /* background: #5f3bff; */
  background: linear-gradient(90deg, #f1765e 0, #e32028 51%, #f1765e);
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  /* background-color: var(--surface-color); */
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
  height: 150px;
}

.events_card__header-text {
  font-size: 11px;
}

.events_card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.events_card__arc path {
  fill: #f1765e;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.events_card__arc2 {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.events_card__arc2 path {
  fill: white;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.events_card:hover .events_card__header {
  transform: translateY(0);
}

.events_card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.events_card__title {
  font-size: 2em;
  color: white;
  font-style: "barlow";
  font-weight: 900;
  margin: 0 0 0.3em;
}

.events_card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.events_card__status {
  font-size: 1.1em;
  color: white;
}

.events-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}



.events_card__description {
  background: white;
  padding: 1em 2em 2em;
  margin: 0;
  color: #1f2471;
  font-weight: 900;
  font-family: "roboto";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  font-size: 0.9rem;
  height: 250px;
  overflow: scroll;
  overflow-x: hidden;
}


.events_card__description::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.events_card__description::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.events_card__description::-webkit-scrollbar-thumb {
  /* margin-top: -20%; */
  background-color: #000000;
}


.events-team-content {
  position: absolute;
  left: 20px;
  right: 20px;
  text-align: center;
  padding: 5px 10px 5px 20px;
  overflow: hidden;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .events_card__description {
    font-size: 0.8rem;
  }

@media screen and (max-width: 800px) {
  .events-test {
    width: 100%;
    border-radius: 0%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .events-cardList__btn.events-btn--left {
    margin-left: 15%;
  }

  .events-cardList__btn.events-btn--right {
    margin-right: 15%;
  }
}

@media (min-width: 800px) and (max-width: 992px) {
  .events-cardList__btn.events-btn--left {
    margin-left: 20%;
  }

  .events-cardList__btn.events-btn--right {
    margin-right: 20%;
  }
}

@media screen and (max-width: 470px) {
  .events-cardList__btn.events-btn--left {
    margin-left: 35%;
  }

  .events-cardList__btn.events-btn--right {
    margin-right: 35%;
  }
}

@media (min-width: 470px) and (max-width: 800px) {
  .events-cardList__btn.events-btn--left {
    margin-left: 27%;
  }

  .events-cardList__btn.events-btn--right {
    margin-right: 27%;
  }
}}