ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

.team-page-section {
    position: relative;
    padding-top: 70px;
}

.team-page-section .team-block {
    margin-bottom: 60px;
}

.sec-title {
    position: relative;
    z-index: 1;
    margin-bottom: 65px;
}

.sec-title .title {
    position: relative;
    font-size: 18px;
    opacity: 70%;
    color: #181d2e;
    font-weight: 700;
    margin: 12px;
    text-transform: capitalize;
    cursor: pointer;
}

.sec-title .separator {
    position: relative;
    width: 40px;
    margin: 16px !important;
}

.sec-title .team-headings{
    display: flex;
    width: 100%;
    justify-content: center;
}

.team-headings .divider,
.team-headings .active-title{
    background-color: none;
    opacity: 100%;
    scale: 1.3;
}

.sec-title .menu {
    position: relative;
    margin: 28px !important;
    display: none;
    width: 1200px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.sec-title .show-menu {
    position: relative;
    margin: 28px !important;
    display: flex;
    width: 1200px;
    justify-content: space-evenly;
    align-content: space-evenly;
}

.menu-btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: black;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.menu-btn:hover {
    color: white;
}

.sec-title .active {
    color: white;
    background-color: #181d2e ;
}

.menu-btn::before {
    content: "";
    position: absolute;
    left: -1%;
    top: 0;
    width: 100%;
    background-color: #181d2e ;
    height: 100%;
    transform: translateX(-101%);
    transition: all .3s;
    z-index: -1;
}

.menu-btn:hover::before {
    color: white;
    transform: translateX(0);
}

.sec-title .separator:before {
    position: absolute;
    content: '';
    left: 0px;
    top: 0px;
    width: 10px;
    height: 2px;
    background-color: #ff9600;
}

.sec-title .separator:after {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    width: 10px;
    height: 2px;
    background-color: #ff9600;
}

.sec-title .separator span {
    position: absolute;
    left: 50%;
    top: -2px;
    width: 10px;
    height: 5px;
    margin-left: -5px;
    display: inline-block;
    background-color: #181d2e;
}

.sec-title h2 {
    position: relative;
    color: #222222;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2em;
    margin-top: 35px;
}

.sec-title .text {
    position: relative;
    font-size: 14px;
    line-height: 1.9em;
    color: #555555;
    margin-top: 10px;
}

.sec-title.centered .separator {
    margin: 0 auto !important;
    float: none !important;
}

.sec-title.centered {
    text-align: center !important;
}

.sec-title.light .title {
    color: #ffffff;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.light .separator span {
    background-color: #f52029;
}

.sec-title.light .separator:before,
.sec-title.light .separator:after {
    background-color: #ffffff;
}

.team-section {
    position: relative;
    padding: 80px 0px 60px;
}

.team-section.style-two .pattern-layer {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center center;
    background-repeat: no-repeat;
}

.team-section .title-box {
    position: relative;
    text-align: center;
}

.team-section .title-box h2 {
    position: relative;
    color: #222222;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 50px;
}

.team-section .title-box h2 span {
    color: #f52029;
}

.team-block {
    position: relative;
    display: none;
}

.show {
    display: flex;
}

.team-block .inner-box {
    position: relative;
    padding: 40px 70px 28px 0px;
}

.team-block .inner-box:before {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    left: 70px;
    bottom: 0px;
    border-radius: 10px;
    background-color: #f5f5f5;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
}

.team-block .inner-box::after {
    position: absolute;
    content: '';
    top: 0px;
    left: 70px;
    bottom: 0px;
    width: 0%;
    border-radius: 10px;
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    -ms-transition: all 600ms ease;
    -o-transition: all 600ms ease;
    transition: all 600ms ease;
    background-image: -ms-linear-gradient(top, #f52029 0%, #181d2e 100%);
    background-image: -moz-linear-gradient(top, #f52029 0%, #181d2e 100%);
    background-image: -o-linear-gradient(top, #f52029 0%, #181d2e 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f52029 color-stop(100, #181d2e), ));
    background-image: -webkit-linear-gradient(top, #f52029 0%, #181d2e 100%);
    background-image: linear-gradient(top bottom, #f52029 0%, #181d2e 100%);
}

.team-block .inner-box:hover::after {
    width: 81%;
}

.team-block .inner-box .social-icons {
    position: absolute;
    right: 25px;
    top: 100px;
    z-index: 1;
}

.team-block .inner-box .social-icons li {
    position: relative;
    margin-bottom: 20px;
}

.team-block .inner-box .social-icons li a {
    position: relative;
    color: #181d2e;
    font-size: large;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.team-block .inner-box:hover .lower-content h3 a,
.team-block .inner-box:hover .lower-content .designation {
    color: #ffffff;
    /* font-size: small; */
}

.team-block .inner-box:hover .social-icons li a {
    color: #ffffff;
    font-size: 24px;
}

.team-block .inner-box .image {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: inset 0px 0px 35px rgba(0, 0, 0, 0.20);
    overflow: hidden;
}

.team-block .inner-box .image img {
    position: relative;
    width: max-content;
    display: block;
}

.team-block .inner-box .lower-content {
    position: relative;
    text-align: left;
    z-index: 1;
    padding: 30px 15px 0px 110px;
}

.team-block .inner-box .lower-content h3 {
    position: relative;
    color: #181d2e;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3em;
    width: 100%;
}

.team-block .inner-box .lower-content h3 a {
    position: relative;
    color: #181d2e;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    font-size: large;
}

.team-block .inner-box .lower-content .designation {
    position: relative;
    margin-top: 5px;
    color: #777777;
    font-size: 16px;
}

.team-block.style-two .inner-box .lower-content h3 a,
.team-block.style-two .inner-box .social-icons li a {
    color: #ff9600;
}

.team-block.style-two .inner-box:hover .lower-content h3 a,
.team-block.style-two .inner-box:hover .social-icons li a {
    color: #ffffff;
    font-size: large;
}

.team-block.style-two .inner-box::after {
    background-image: -ms-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
    background-image: -moz-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
    background-image: -o-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFEB3C), color-stop(100, #ff9600));
    background-image: -webkit-linear-gradient(top, #FFEB3C 0%, #ff9600 100%);
    background-image: linear-gradient(to bottom, #FFEB3C 0%, #ff9600 100%);
}

@media only screen and (max-width: 768px) {
    .sec-title .menu {
        width: 100%; 
        flex-wrap: wrap;
    }

    .menu-btn {
        flex: 1 0 48%;
        margin: 1%;
    }
}

/* Media Query for Mobile Phones */
@media only screen and (max-width: 480px) {
    .sec-title .menu {
        flex-direction: column;
        align-items: center;
    }

    .menu-btn {
        width: 100%;
        margin-bottom: 2%;
    }
}